.nav,
.nav a,
.filter {
  color: #fff0ff;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
}

.filter {
  font-size: 120%;
}

.select {
  margin-left: 10px;
  padding: 5px;
  border: unset;
  font-size: 1em;
}
