.main {
  text-align: left;
  padding: 0;
  padding-bottom: 20px;
}

.main h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.questionDetails {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #090c02;
}

.catName {
  display: inline-block;
  background-color: #ee8434;
  padding: 2px 4px;
}

.details {
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  padding: 3px, 5px;
}

.questionContainer {
  width: 95%;
  margin: 15px auto;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #102542;
}

.difficulty {
  text-align: right;
}

.question {
  font-size: 25px;
}
